<div class="container">
  <br><br>
  <h3 class=""><b>Enter the Purchase Order Details Below</b></h3>
  <p class="proj-info" >Information:</p>
  <div class="underline"></div>
  <br>
    <div class="card-body">
        
      <form [formGroup]="poUploadFormGroup" (ngSubmit)="onSubmit()">
        <div style="display: flex;">
          <div class="sub-div-1">
            <div class="form-row">
              <div class="form-group">
                <label>Order Number</label>
                <input type="text" formControlName="orderNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orderNo.errors }" />
                <div *ngIf="submitted && f.orderNo.errors" class="invalid-feedback">
                    <div *ngIf="f.orderNo.errors.required">Order Number is required</div>
                </div>
                <div *ngIf="duplicateCheck" class="error-desc">Duplicate Order Number</div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Item</label>
                <textarea rows="5" cols="40" formControlName="item" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.item.errors }" ></textarea>
                <div *ngIf="submitted && f.item.errors" class="invalid-feedback">
                    <div *ngIf="f.item.errors.required">Item is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Make</label>
                <input type="text" formControlName="make" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.make.errors }" />
                <div *ngIf="submitted && f.make.errors" class="invalid-feedback">
                    <div *ngIf="f.make.errors.required">Make is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Model Number</label>
                <input type="text" formControlName="modelNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.modelNo.errors }" />
                <div *ngIf="submitted && f.modelNo.errors" class="invalid-feedback">
                    <div *ngIf="f.modelNo.errors.required">Model Number is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Quantity</label>
                <input type="text" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-div-2">
          
            <div class="form-row">
              <div class="form-group">
                <label>Rate</label>
                <input type="text" formControlName="rate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" />
                <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                    <div *ngIf="f.rate.errors.required">Rate is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>Remark</label>
                <input type="text" formControlName="remark" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remark.errors }" />
                <div *ngIf="submitted && f.remark.errors" class="invalid-feedback">
                    <div *ngIf="f.remark.errors.required">Remark is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <mat-label>Date &nbsp;&nbsp;&nbsp;&nbsp;</mat-label><br>
                <input class="dateInput" matInput [matDatepicker]="picker1" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker [startAt]="" #picker1></mat-datepicker>
                  <div *ngIf="dateCheck" class="error-desc">Date is required</div>
              </div>
            </div>


          <div class="form-row">
            <div class="form-group">
              <label>Item Code</label>
              <input type="text" formControlName="itemCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemCode.errors }" />
              <div *ngIf="submitted && f.itemCode.errors" class="invalid-feedback">
                  <div *ngIf="f.itemCode.errors.required">Item Code is required</div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>Customer</label>
              <input type="text" formControlName="customer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer.errors }" />
              <div *ngIf="submitted && f.customer.errors" class="invalid-feedback">
                  <div *ngIf="f.customer.errors.required">Customer is required</div>
              </div>
            </div>
          </div>

            <div *ngIf="!editFileCheck" class="form-row">
              <div  class="form-group" style="display: flex;">
                <label style="margin-right:20px;">Upload File</label>
                <input class="md-button md-raised md-primary" (change)="fileUpload($event)" formControlName="file" id="input-file-id" multiple type="file" />
              <div><mat-icon *ngIf="progress" style="margin-top:4px;">check_circle</mat-icon></div>
              </div>
            </div>

          <div *ngIf="fileCheck" class="error-desc1">File is required</div>

          <div *ngIf="editFileCheck" class="form-row">
            <div  class="form-group">
              <label style="margin-right:20px;">Uploaded File</label>
              <input type="text" formControlName="file" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
              <button for="files" class="upload-btn-1" (click)="changeFile()">Upload new File</button>
          </div>
          </div>
      </div>
      </div>
      </form>
      <div style="margin-left:420px;display: flex">
        <button type="button" class="btn btn-sm btn-shape outline text-white ml-3 ml-2 mt-2"style="height:30px;width:80px;" (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-sm btn-shape1 outline text-white ml-3 ml-2 mt-2"style="height:30px;width:80px;margin-left:30px;" (click)="reset()">Reset</button>
      </div>
    </div>
</div>