<app-header [logout]="true" ></app-header>
<div class="main-div">
  <div [ngClass]="{'div-select':divColor === 'a'}"> <a routerLink="upload" routerLinkActive="active" (click)="getColor('a')">Circular Upload</a> </div>
  <div [ngClass]="{'div-select':divColor === 'b'}"> <a routerLink="poUpload" routerLinkActive="active" (click)="getColor('b')">Purchase Order Upload</a> </div>
  <div [ngClass]="{'div-select':divColor === 'c'}"> <a routerLink="enquiry" routerLinkActive="active" (click)="getColor('c')">Enquiry Upload</a> </div>
  <div [ngClass]="{'div-select':divColor === 'd'}"> <a routerLink="catalog" routerLinkActive="active" (click)="getColor('d')">Catalog Upload</a> </div>
  <div [ngClass]="{'div-select':divColor === 'e'}"> <a routerLink="search" routerLinkActive="active" (click)="getColor('e')">Search</a> </div>
  <!-- <div [ngClass]="{'div-select':divColor=== 'c'}"> <a routerLink="meter" routerLinkActive="active" (click)="getColor('c')">Health Meter</a> </div> -->
</div>

<router-outlet></router-outlet>