<app-header [logout]="false" [showUserName]="false" [username]=""></app-header>
<div class="main-div">

  <br><br>
<div class="sub-div">
<br>
<h3> Login</h3>
<hr class="divider">
 <div>
    <i class="fa fa-user"></i>
    <input  (keyup)="onKeyUsername()" class="form-control" placeholder="Username" #usernameCheck="ngModel" [(ngModel)]="username"  type="text" name="username"  required>
  </div>
  <div *ngIf="usernameCheck?.touched" >
    <div *ngIf="usernameCheck.errors?.required" class="alert alert-danger" >
      Username Required
      </div>
    </div>
    <div [hidden]='ninv' class="alert alert-danger" >Username Doesn't Exist</div>
  <div>
    <input (keyup)="onKeyPass()" class="form-control" placeholder="Password" #passwordCheck="ngModel" [(ngModel)]="password"  type="password"  name="password"  required>
  </div>
  <div *ngIf="passwordCheck?.touched" >
    <div *ngIf="passwordCheck.errors?.required" class="alert alert-danger" >
      Password Required
      </div>
    </div>
    <div [hidden]='pinv' class="alert alert-danger" >Password Doesn't Exist</div>
  <br>
  <div [hidden]='errorMsg' class="alert alert-danger" >User doesn't exist with provided username and password
  </div>
  <br>
    <button (click)="login()" (keyup.enter)="loginEnter($event)" type="button" class="btn-primary">Login</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>