<div class="container">
  <br><br>
  <h3 class=""><b>Enter the Circular Details Below</b></h3>
  <p class="proj-info" >Information:</p>
  <div class="underline"></div>
  <br>
    <div class="card-body">
        <form [formGroup]="fileUploadFormGroup" (ngSubmit)="onSubmit()">
          <div style="display: flex;">
          <div class="sub-div-1">
            <div class="form-row">
              <div class="form-group">
                <label>Circular Detail</label>
                <input type="text" formControlName="circularDetail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.circularDetail.errors }" />
                <div *ngIf="submitted && f.circularDetail.errors" class="invalid-feedback">
                    <div *ngIf="f.circularDetail.errors.required">Circular Detail is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
            <div class="form-group">
              <label>Circular Number</label>
              <input type="text" formControlName="circularNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.circularNumber.errors }" />
              <div *ngIf="submitted && f.circularNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.circularNumber.errors.required">Client Name is required</div>
              </div>
              <div *ngIf="duplicateCheck" class="error-desc">Duplicate Circular Number</div>
           </div>
          </div>

            <div class="form-row">
                <div class="form-group">
                  <mat-label>Date &nbsp;&nbsp;&nbsp;&nbsp;</mat-label><br>
                    <input class="dateInput" matInput [matDatepicker]="picker1" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker [startAt]="" #picker1></mat-datepicker>
                    <!--<mat-label>Date &nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
                    <input type="date" id="date" class="form-control" (change)="checkDate()" value="date" formControlName="date">-->
                    <!--<div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Date is required</div>
                    </div> -->
                    <div *ngIf="dateCheck" class="error-desc">Date is required</div>
                </div>
            </div>
          </div>
          <div class="sub-div-2"> 
            <div class="form-row"> 
            <div  class="form-group">
                <label>Department</label>
                <input type="text" formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
                <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                    <div *ngIf="f.department.errors.required">Department is required</div>
                </div>
            </div>
            </div>

            <div *ngIf="!editFileCheck" class="form-row">
            <div class="form-group" style="display: flex;">
              <label style="margin-right:20px;">Upload File</label>
              <input class="md-button md-raised md-primary" (change)="fileUpload($event)" formControlName="file" id="input-file-id" multiple type="file" />
              <div><mat-icon *ngIf="progress" style="margin-top:4px;">check_circle</mat-icon></div>
          </div>
          </div>
          <div *ngIf="fileCheck" class="error-desc1">File is required</div>

          <div *ngIf="editFileCheck" class="form-row">
            <div  class="form-group">
              <label style="margin-right:20px;">Uploaded File</label>
              <input type="text" formControlName="file" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
              <button for="files" class="upload-btn-1" (click)="changeFile()">Upload new File</button>
          </div>
          </div>
          
        </div> 
      </div>
        </form>
      <div style="margin-left:420px;display: flex">
        <button type="button" class="btn btn-sm btn-shape outline text-white ml-3 ml-2 mt-2"style="height:30px;width:80px;margin-left:320px;" (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-sm btn-shape1 outline text-white ml-3 ml-2 mt-2"style="height:30px;width:80px;margin-left:30px;" (click)="reset()">Reset</button>
      </div>
    </div>
</div>