.example-form {
    min-width: 200px;
    max-width: 300px;
    width: 100%;
  }

.dropDown{
    margin-left: 400px;
    min-width: 200px;
    max-width: 300px;
    margin-top: 50px;
    justify-content: center;
}

.radioSelDiv {
    margin-left: 50px;
    min-width: 400px;
    max-width: 400px;
    margin-top: 55px;
}

.radioSel {
  margin-left: 450px;
  margin-top: 100px;
}

.labelName {
    font-family: 'Open Sans Regular';
    font-weight: bold;
    font-size: 12px;
    color: black;
}
  
  .example-full-width {
    margin-left: 400px;
    width: 100%;
    margin-top:6px;
  }

  .filterForm {
    margin-bottom: 6px;
  }

  .filter{
    font-family:'Open Sans';
    font-size: 16px;
    color: black;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: 0px;

}

.filtertitle{
    font-family: 'Open Sans Regular';
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 12px;
    color: black;
  }
  
  .filter {

    height:30px;
    width:184px;
    border-radius: 3px;
    margin-left: 0px;
    border: 1px solid #ced4da;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
  }

  .filter1 {
    height:30px;
    width:150px;
    border-radius: 3px;
    margin-left: 0px;
    border: 1px solid #ced4da;
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
  }
  
  .filterDiv {
    display: flex;
    justify-content: center;
    margin-top:6px;
  }

  .filterDiv1 {
    display: flex;
    margin-left: 200px;
    margin-top:6px;
  }

  .filterDiv2 {
    display: flex;
    margin-left: 50px;
    margin-top:6px;
  }

  .btn-primary {
    background-color: #074982 !important;
    border-color: #074982;
    width:80px;
    height:30px;
    margin-top:20px;
    margin-left: 12px;
}

option[default] {
    display: none;
  }

  
  table {
    width: 100%;
    margin-left: 0px;
  }

  .example-table-container {
    position: relative;
    max-height: 380px;
    overflow: auto;
    width: 90%;
    margin-left: 50px;
  }
  
  tr.mat-header-row {
    background-color: #074982; 
    position: sticky;
    top: 0;
    z-index: 10;
  }

  th.mat-header-cell {
    color: white !important;
    text-align: center;
    padding: 0px;
    width:30px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ::ng-deep th.mat-header-cell:first-of-type {
    padding-left: 0px !important;
  }

  ::ng-deep td.mat-cell:first-of-type{
    padding-left: 0px !important;
  }

  .mat-column-itemDescription .cdk-column-itemDescription {
    overflow: scroll !important;
  }

  td.mat-cell {
      max-width: 200px;
      min-width: 40px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      max-height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .iconClass {
    cursor: pointer;
  }

  .message {
    color: black;
    font-size: 30px;
    margin-left: 400px;
    margin-top: 100px;
  }

  ::ng-deep .mat-paginator-container{
    margin-left:50px;
    background-color: #074982;
    color: white;
    justify-content: flex-start !important;
    width: 90%;
  }
  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }

  ::ng-deep .mat-paginator-range-actions {
    color: white !important;
  }

  ::ng-deep .mat-icon-button  {
    color: white !important;
  }

  ::ng-deep .mat-select-value {
    color: white !important;
  }

  ::ng-deep .mat-select-arrow {
    color: white !important;
  }

  ::ng-deep .mat-form-field-underline {
    color: white !important;
  }

  

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.5 !important;     /*click effect color change*/
  background-color: #074982 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #074982!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#074982!important; /*outer ring color change*/
} 

::ng-deep .missing-mds-tooltip {
  white-space: pre-line;
}