.example-form {
    min-width: 200px;
    max-width: 300px;
    width: 100%;
  }

.dropDown{
    margin-left: 400px;
    min-width: 200px;
    max-width: 300px;
    margin-top: 25px;
}
  
  .example-full-width {
    margin-left: 400px;
    width: 100%;
    margin-top:6px;
  }
  
  table {
    width: 1100px;
    margin-left: 100px;
  }
  
  tr.mat-header-row {
    background-color: #074982; 
  }

  th.mat-header-cell {
    color: white !important;
    text-align: center;
  }

  td.mat-cell {
      min-width : 50px;
      text-align: center;
  }

  .iconClass {
    cursor: pointer;
  }

  .message {
    color: black;
    font-size: 30px;
    margin-left: 400px;
    margin-top: 100px;
  }

  ::ng-deep .mat-paginator-container{
    margin-left:100px;
    background-color: #074982;
    color: white;
    justify-content: flex-start !important;
    width: 1100px;
  }

  ::ng-deep .mat-paginator-range-actions {
    color: white !important;
  }

  ::ng-deep .mat-icon-button  {
    color: white !important;
  }

  ::ng-deep .mat-select-value {
    color: white !important;
  }

  ::ng-deep .mat-select-arrow {
    color: white !important;
  }

  ::ng-deep .mat-form-field-underline {
    color: white !important;
  }