<app-header [logout]="true" *ngIf="showHeader" [showUserName]="true" [username]="username"></app-header>
<div style="display: flex;">  
  <div class="dropDown">
      <label class="labelName">Select the type</label>
      <select [(ngModel)]="type" class="form-control" (change)="typeSelected($event)" placeholder="Select the type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
          <option [value]="t" *ngFor="let t of typeList">{{t}}</option>
      </select>
      <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Select Type</div>
      </div>
  </div>
  <br>
  <div class="radioSelDiv">
  <mat-radio-group *ngIf="showSearchCriteria" [(ngModel)]="searchCriteria" (change)="searchType()" aria-label="Select an option" class="">
    <label class="labelName">Select Search Criteria</label><br>
    <mat-radio-button value="Generic">Generic</mat-radio-button> &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-radio-button value="Advanced">Advanced</mat-radio-button>
  </mat-radio-group>
 </div>
</div>

<form class="example-form">

  <mat-form-field class="example-full-width" *ngIf="showSearch">
   <!-- <span matPrefix>+1 &nbsp;</span> -->
    <input type="text" (keyup.enter)="search()" matInput placeholder="search" name="search" [(ngModel)]="searchValue">
    <mat-icon matSuffix (click)="search()">search</mat-icon>
  </mat-form-field>
</form>

<form name="form" #f="ngForm" novalidate class="filterForm">
  <fieldset *ngIf="showCircularFilters">
  <div class="filterDiv">
   <div class="filtertitle">Circular Detail
   <input type="text"  class="form-control filter" matInput  name="circularDetail" [(ngModel)]="circularSearchByFilter.circularDetail">    
   </div>
   <div class="filtertitle">Circular Number 
   <input type="text"  class="form-control filter" matInput  name="circularNumber" [(ngModel)]="circularSearchByFilter.circularNumber">    
   </div>
   <div class="filtertitle">Created By
   <input type="text"  class="form-control filter" matInput  name="createdBy" [(ngModel)]="circularSearchByFilter.createdBy"> 
   </div>
   <div class="filtertitle">Date
   <input type="text"  class="form-control filter" matInput  name="date" [(ngModel)]="circularSearchByFilter.date"> 
   </div>
   <div class="filtertitle">Department
    <input type="text"  class="form-control filter" matInput  name="departmant" [(ngModel)]="circularSearchByFilter.departmant"> 
    </div>
   <div class="filtertitle">File Name
   <input type="text"  class="form-control filter" matInput  name="fileName" [(ngModel)]="circularSearchByFilter.fileName"> 
   </div>
   <button (click)="search()" type="button" class="btn-primary">Search</button>
  </div>
  </fieldset>

  <fieldset *ngIf="showCatalogFilters">
    <div class="filterDiv1">
     <div class="filtertitle">Colour
     <input type="text"  class="form-control filter" matInput  name="colour" [(ngModel)]="catalogSearchByFilter.colour">    
     </div>
     <div class="filtertitle">Created By 
     <input type="text"  class="form-control filter" matInput  name="createdBy" [(ngModel)]="catalogSearchByFilter.createdBy">    
     </div>
     <div class="filtertitle">File Name
     <input type="text"  class="form-control filter" matInput  name="fileName" [(ngModel)]="catalogSearchByFilter.fileName"> 
     </div>
     <div class="filtertitle">Model No
     <input type="text"  class="form-control filter" matInput  name="modelNo" [(ngModel)]="catalogSearchByFilter.modelNo"> 
     </div>
    </div>
    <div class="filterDiv1">
     <div class="filtertitle">Old Model No
      <input type="text"  class="form-control filter" matInput  name="oldModelNo" [(ngModel)]="catalogSearchByFilter.oldModelNo"> 
      </div>
     <div class="filtertitle">Product Name
     <input type="text"  class="form-control filter" matInput  name="productName" [(ngModel)]="catalogSearchByFilter.productName"> 
     </div>
     <div class="filtertitle"> Range
     <input type="text"  class="form-control filter" matInput  name="range" [(ngModel)]="catalogSearchByFilter.range"> 
     </div>
     <div class="filtertitle"> Voltage
     <input type="text"  class="form-control filter" matInput  name="voltage" [(ngModel)]="catalogSearchByFilter.voltage"> 
     </div>
     <button (click)="search()" type="button" class="btn-primary">Search</button>
    </div>
  </fieldset>

  <fieldset *ngIf="showEnquiryFilters">
    <div class="filterDiv2">
     <div class="filtertitle">Company Name
     <input type="text"  class="form-control filter" matInput  name="companyName" [(ngModel)]="EnquirySearchByFilter.companyName">    
     </div>
     <div class="filtertitle">Enquiry Number 
     <input type="text"  class="form-control filter" matInput  name="enquiryNumber" [(ngModel)]="EnquirySearchByFilter.enquiryNumber">    
     </div>
     <div class="filtertitle">Created By
     <input type="text"  class="form-control filter" matInput  name="createdBy" [(ngModel)]="EnquirySearchByFilter.createdBy"> 
     </div>
     <div class="filtertitle">Date
     <input type="text"  class="form-control filter" matInput  name="date" [(ngModel)]="EnquirySearchByFilter.date"> 
     </div>
     <div class="filtertitle">Item Description
      <input type="text"  class="form-control filter" matInput  name="itemDescription" [(ngModel)]="EnquirySearchByFilter.itemDescription"> 
      </div>
     <div class="filtertitle">File Name
     <input type="text"  class="form-control filter" matInput  name="fileName" [(ngModel)]="EnquirySearchByFilter.fileName"> 
     </div>
    </div>
    <div class="filterDiv2">
     <div class="filtertitle">Make
      <input type="text"  class="form-control filter" matInput  name="make" [(ngModel)]="EnquirySearchByFilter.make"> 
     </div>
     <div class="filtertitle">Mobile
     <input type="text"  class="form-control filter" matInput  name="mobile" [(ngModel)]="EnquirySearchByFilter.mobile"> 
     </div>
    <!-- <div class="filtertitle">Person Name
     <input type="text"  class="form-control filter" matInput  name="Person" [(ngModel)]="EnquirySearchByFilter.fileName"> 
     </div> -->
     <div class="filtertitle">Place
     <input type="text"  class="form-control filter" matInput  name="place" [(ngModel)]="EnquirySearchByFilter.place"> 
     </div>
     <div class="filtertitle">Remark
     <input type="text"  class="form-control filter" matInput  name="remark" [(ngModel)]="EnquirySearchByFilter.remark"> 
     </div>
     <div class="filtertitle">Status
     <input type="text"  class="form-control filter" matInput  name="status" [(ngModel)]="EnquirySearchByFilter.status"> 
     </div>
     <button (click)="search()" type="button" class="btn-primary">Search</button>
    </div>
  </fieldset>


  <fieldset *ngIf="showPoFilters">
    <div class="filterDiv2">
     <div class="filtertitle">Customer
     <input type="text"  class="form-control filter1" matInput  name="customer" [(ngModel)]="poSearchByFilter.customer">    
     </div>
     <div class="filtertitle">Created Date 
     <input type="text"  class="form-control filter1" matInput  name="createdDate" [(ngModel)]="poSearchByFilter.createdDate">    
     </div>
     <div class="filtertitle">Created By
     <input type="text"  class="form-control filter1" matInput  name="createdBy" [(ngModel)]="poSearchByFilter.createdBy"> 
     </div>
     <div class="filtertitle">Date
     <input type="text"  class="form-control filter1" matInput  name="date" [(ngModel)]="poSearchByFilter.date"> 
     </div>
     <div class="filtertitle">File Name
     <input type="text"  class="form-control filter1" matInput  name="fileName" [(ngModel)]="poSearchByFilter.fileName"> 
     </div>
     <div class="filtertitle">Item
     <input type="text"  class="form-control filter1" matInput  name="item" [(ngModel)]="poSearchByFilter.item"> 
     </div>
     <div class="filtertitle">Item Code
     <input type="text"  class="form-control filter1" matInput  name="itemCode" [(ngModel)]="poSearchByFilter.itemCode"> 
     </div>
    </div>
    <div class="filterDiv2">
     <div class="filtertitle">make
     <input type="text"  class="form-control filter1" matInput  name="make" [(ngModel)]="poSearchByFilter.make"> 
     </div>
     <div class="filtertitle">Model No
     <input type="text"  class="form-control filter1" matInput  name="modelNo" [(ngModel)]="poSearchByFilter.modelNo"> 
     </div>
     <div class="filtertitle">Order No
     <input type="text"  class="form-control filter1" matInput  name="orderNo" [(ngModel)]="poSearchByFilter.orderNo"> 
     </div>
     <div class="filtertitle">Quantity
     <input type="text"  class="form-control filter1" matInput  name="quantity" [(ngModel)]="poSearchByFilter.quantity"> 
     </div>
     <div class="filtertitle">Rate
     <input type="text"  class="form-control filter1" matInput  name="rate" [(ngModel)]="poSearchByFilter.rate"> 
     </div>
     <div class="filtertitle">Remark
     <input type="text"  class="form-control filter1" matInput  name="remark" [(ngModel)]="poSearchByFilter.remark"> 
     </div>
     <button (click)="search()" type="button" class="btn-primary">Search</button>
    </div>
    </fieldset>
</form>

<div class="example-table-container">

  <table mat-table [dataSource]="dataSource"  *ngIf="showTable" class="mat-elevation-z8">

    <!-- Column 1 -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Column 2 -->
    <ng-container matColumnDef="circularDetail">
      <th mat-header-cell *matHeaderCellDef> Circular Detail </th>
      <td mat-cell *matCellDef="let element" matTooltip={{element.circularDetail}} matTooltipClass="missing-mds-tooltip"> {{element.circularDetail}} </td>
    </ng-container>
  
    <!-- Column 3 -->
    <ng-container matColumnDef="circularNumber">
      <th mat-header-cell *matHeaderCellDef> Circular Number </th>
      <td mat-cell *matCellDef="let element"> {{element.circularNumber}} </td>
    </ng-container>
  
    <!-- Column 4 -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <!-- Column 5 -->
    <ng-container matColumnDef="departmant">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.departmant}} </td>
    </ng-container>

    <!-- Column 6 -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef> File Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
    </ng-container>

    <!-- Column 6 -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Download </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="download(element)">get_app</mat-icon> </td>
    </ng-container>

    <!-- Column 7 -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="edit(element)">create</mat-icon> </td>
    </ng-container>

    <!-- Column 8 -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsCircular; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCircular;">
    </tr>
  </table>
 </div>
  <!--Catalog table-->
  <div class="example-table-container">
  <table mat-table [dataSource]="dataSource1" *ngIf="showCatalogTable" class="mat-elevation-z8">

    <!-- Column 1 -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
  
    <!-- Column 2 -->
    <ng-container matColumnDef="modelNo">
      <th mat-header-cell *matHeaderCellDef> Model No </th>
      <td mat-cell *matCellDef="let element"> {{element.modelNo}} </td>
    </ng-container>
  
    <!-- Column 3 -->
    <ng-container matColumnDef="oldModelNo">
      <th mat-header-cell *matHeaderCellDef> Old Model No </th>
      <td mat-cell *matCellDef="let element"> {{element.oldModelNo}} </td>
    </ng-container>
  
    <!-- Column 4 -->
    <ng-container matColumnDef="voltage">
      <th mat-header-cell *matHeaderCellDef> Voltage </th>
      <td mat-cell *matCellDef="let element"> {{element.voltage}} </td>
    </ng-container>
  
    <!-- Column 5 -->
    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef> Range </th>
      <td mat-cell *matCellDef="let element"> {{element.range}} </td>
    </ng-container>

    <!-- Column 6 -->
    <ng-container matColumnDef="colour">
      <th mat-header-cell *matHeaderCellDef> Colour </th>
      <td mat-cell *matCellDef="let element"> {{element.colour}} </td>
    </ng-container>

    <!-- Column 7 -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef> File Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
    </ng-container>

    <!-- Column 8 -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Download </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="download(element)">get_app</mat-icon> </td>
    </ng-container>

    <!-- Column 9 -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="edit(element)">create</mat-icon> </td>
    </ng-container>

    <!-- Column 10 -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsCatalog; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCatalog;">
    </tr>
  </table>
  </div>

  <!--Enquiry table-->
  <div class="example-table-container">
  <table mat-table [dataSource]="dataSource2" *ngIf="showEnquiryTable" class="mat-elevation-z8">

    <!-- Column 1 -->
    <ng-container matColumnDef="enquiryNumber">
      <th mat-header-cell *matHeaderCellDef> Enquiry Number </th>
      <td mat-cell *matCellDef="let element"> {{element.enquiryNumber}} </td>
    </ng-container>
  
    <!-- Column 2 -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>
  
    <!-- Column 3 -->
    <ng-container matColumnDef="personName">
      <th mat-header-cell *matHeaderCellDef> Person Name </th>
      <td mat-cell *matCellDef="let element"> {{element.personName}} </td>
    </ng-container>
  
    <!-- Column 4 -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
  
    <!-- Column 5 -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef> Place </th>
      <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>

    <!-- Column 6 -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Column 7 -->
    <ng-container matColumnDef="itemDescription" style="width:250px;">
      <th mat-header-cell *matHeaderCellDef> Item Description </th>
      <td mat-cell *matCellDef="let element" matTooltip={{element.itemDescription}} matTooltipClass="missing-mds-tooltip"> {{element.itemDescription}} </td>
    </ng-container>

    <!-- Column 8 -->
    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let element"> {{element.make}} </td>
    </ng-container>

    <!-- Column 9 -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Column 10 -->
    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef> Remark </th>
      <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
    </ng-container>

    <!-- Column 11 -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef> File Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
    </ng-container>

    <!-- Column 12 -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Download </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="download(element)">get_app</mat-icon> </td>
    </ng-container>

    <!-- Column 13 -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="edit(element)">create</mat-icon> </td>
    </ng-container>

    <!-- Column 14 -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsEnquiry; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsEnquiry;">
    </tr>
  </table>
  </div>

  <!--Product Order table-->
  <div class="example-table-container">
  <table mat-table [dataSource]="dataSource3" *ngIf="showPurchaseOrderTable" class="mat-elevation-z8">

    <!-- Column 1 -->
    <ng-container matColumnDef="orderNo">
      <th mat-header-cell *matHeaderCellDef> Order No </th>
      <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
    </ng-container>
  
    <!-- Column 2 -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let element" matTooltip={{element.item}} matTooltipClass="missing-mds-tooltip"> {{element.item}} </td>
    </ng-container>
  
    <!-- Column 3 -->
    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let element"> {{element.make}} </td>
    </ng-container>
  
    <!-- Column 4 -->
    <ng-container matColumnDef="modelNo">
      <th mat-header-cell *matHeaderCellDef> Model No </th>
      <td mat-cell *matCellDef="let element"> {{element.modelNo}} </td>
    </ng-container>
  
    <!-- Column 5 -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Column 6 -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
    </ng-container>

    <!-- Column 7 -->
    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef> Remark </th>
      <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
    </ng-container>

    <!-- Column 8 -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Column 9 -->
    <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef> Item Code </th>
      <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
    </ng-container>

    <!-- Column 10 -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> Customer </th>
      <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
    </ng-container>

    <!-- Column 11 -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef> File Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
    </ng-container>

    <!-- Column 12 -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Download </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="download(element)">get_app</mat-icon> </td>
    </ng-container>

    <!-- Column 13 -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <mat-icon matSuffix class="iconClass" (click)="edit(element)">create</mat-icon> </td>
    </ng-container>

    <!-- Column 14 -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsPo; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPo;">
    </tr>
  </table>
  </div>

  <mat-paginator [hidden]="!showPagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>


  <div *ngIf="noResultsMsg" class="message"> No Search results found</div>
